{{#each product}}

<form action="/updateproduct" method="post">
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">name</label>
        <input name="name" type="text" value="{{this.productName}}" class="form-control" id="exampleFormControlInput1" placeholder="product name">
        <input name="idProduct" type="hidden" value="{{this.id_product}}" class="form-control" id="exampleFormControlInput1" placeholder="product name">
    </div>

    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">category</label>
        <select class="form-select" aria-label="Default select example" name="category">
            <option value="{{product.name}}" selected>{{this.name}}</option>
            {{#each ../category}}
                <option value="{{this.id_category}}">{{this.name}}</option>
            {{/each}}
        
        </select>
    </div>

    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">price</label>
        <input name="price" value="{{this.price}}" type="number" class="form-control" id="exampleFormControlInput1" placeholder="product price">
    </div>
    <button type="submit" class="btn btn-primary">add product</button>
</form>
{{/each}}